[submodule "adhoc-dev/l10n-switzerland"]
	path = adhoc-dev/l10n-switzerland
	url = git@github.com:adhoc-dev/l10n-switzerland.git
	branch = 14.0-mig-l10n_ch_qr_bill_scan

[submodule "OCA/community-data-files"]
	path = OCA/community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 14.0

[submodule "OCA/edi"]
	path = OCA/edi
	url = git@github.com:OCA/edi.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0
